<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="header">
        <h1>[[#{plantilla.titulo}]]</h1>
    </header>

    <footer th:fragment="footer">
        <div>
            <br>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a> |
            <span><i class="far fa-copyright"></i> [[#{plantilla.pie-pagina}]]</span>
            <form th:action="@{/logout}" method="POST">
                <a href="#" onclick="this.parentNode.submit();">[[#{accion.logout}]]</a>
            </form>
        </div>
    </footer>
</body>
</html>