<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <div>
        <h1>Inicio</h1>
        <br>
        <!-- <table border="1" th:if="${personas != null and !personas.empty}">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
            <tr th:each="persona : ${personas}">
                <td id="nombre" th:text="${persona.nombre}"></td>
                <td id="apellido" th:text="${persona.apellido}"></td>
                <td id="email" th:text="${persona.email}"></td>
                <td id="telefono" th:text="${persona.telefono}"></td>
            </tr>
        </table> -->
        <!-- <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia
        </div> -->
    </div>
</body>

</html>