<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4>Login</h4>
                        </div>
                        <div class="card-body">
                            <form class="container" th:action="@{/login}" method="POST">
                                <div class="form-group">
                                    <label for="username"><i class="fas fa-user"></i> [[#{persona.username}]]</label>
                                    <input type="text" class="form-control" name="username" id="username" th:placeholder="#{persona.username}">
                                </div>
                                <div class="form-group">
                                    <label for="password"><i class="fas fa-key"></i> [[#{persona.password}]]</label>
                                    <input type="password" class="form-control" name="password" id="password" th:placeholder="#{persona.password}">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary form-control">[[#{accion.login}]]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>